*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.homePage-container {
    border: 1px solid red;
    /* width: 80%; */
     margin: auto;
     text-align: center; 
     margin-top: 40vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 
     
}

.homePage-container .homePage-title{
    border: 1px solid black;
   /* text-align: center; */
    font-family: "Iknut Antiqua , sans-serif";
    font-weight: 'regular';
    font-size: 50px;
}

.homePage-container .homePage-search{
    border: 1px solid green;
    width: 60%;
    height: 30px;
    /* border-radius: 50px; */
    
}