*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.homePage-container {
     margin: auto;
     text-align: center; 
     margin-top: 40vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 
     
}

.homePage-container .homePage-title{
    font-family: "Iknut Antiqua , sans-serif";
    font-weight: 400;
    font-size: 50px;
}

.homePage-container .homePage-search{
    width: 40%;
    height: 35px;
    border: 1px solid gray; 
    /* da sistemare il bordo */
    border-radius: 50px;
    margin-top: 20px;
    
}

.homePage-container .homePage-button{
     width: 100px;
    height: 32px;
    margin-top: 30px;
    border-radius: 6px;
    border-color: gray;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.homePage-button:hover{
    color: #ffffff;
    background-color: #000000;
}